<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SmartGym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @for (noticia of noticias; track noticia.id) {

    <ion-card>

      <ion-card-header>
        <ion-card-title>
          {{ noticia.titulo }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ noticia.descripcion }}
      </ion-card-content>

    </ion-card>

  }

</ion-content>