<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mapa SmartGym</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="estado-conexion">

    <h2>Estado de Red</h2>

    <ion-badge [color]="online ? 'success' : 'danger'">
      {{ online ? '🟢 Online' : '🔴 Offline' }}
    </ion-badge>

  </div>

  <div id="map"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button color="primary" (click)="irMiUbicacion()">

      📍

    </ion-fab-button>

  </ion-fab>

</ion-content>